@media print {
  body * {
    visibility: hidden;
  }
  #printable-leave-form, #printable-leave-form * {
    visibility: visible;
  }
  #printable-leave-form {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
